.authNavList {
    display: flex;
    gap: 12px;
}

.authNavLink {
    padding: 2px 4px;
    color: #ffffff;
    border-radius: 12px;
    font-weight: 500;
    padding: 4px 10px;
    text-transform: uppercase;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 0.2s ease;
}

.authNavLink:hover {
    transform: scale(1.1);
    color: orangered;
}

.active {
    background-color: orange;
    font-weight: 700;
    transform: scale(1.1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 0.2s ease;
}